@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);

/* line 17, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

html {
  line-height: 1;
}

/* line 24, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

ol,
ul {
  list-style: none;
}

/* line 26, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

q,
blockquote {
  quotes: none;
}

/* line 103, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

a img {
  border: none;
}

/* line 116, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

/* line 74, socialH/*.png */

.socialH-sprite,
.socialH-facebook,
.socialH-gmail,
.socialH-linkedin,
.socialH-twitter,
.socialH-wordpress {
  background: url('../img/socialH-s6f05c78d5d.png') no-repeat;
}

/* line 60, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */

.socialH-facebook {
  background-position: 0 -128px;
}

/* line 60, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */

.socialH-gmail {
  background-position: 0 -96px;
}

/* line 60, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */

.socialH-linkedin {
  background-position: 0 -64px;
}

/* line 60, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */

.socialH-twitter {
  background-position: 0 -32px;
}

/* line 60, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */

.socialH-wordpress {
  background-position: 0 0;
}

/* line 74, social/*.png */

.social-sprite,
.social-facebook,
.social-gmail,
.social-linkedin,
.social-twitter,
.social-wordpress {
  background: url('../img/social-sde45399f23.png') no-repeat;
}

/* line 60, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */

.social-facebook {
  background-position: 0 -128px;
}

/* line 60, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */

.social-gmail {
  background-position: 0 0;
}

/* line 60, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */

.social-linkedin {
  background-position: 0 -96px;
}

/* line 60, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */

.social-twitter {
  background-position: 0 -64px;
}

/* line 60, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */

.social-wordpress {
  background-position: 0 -32px;
}

/* line 10, ../scss/style.scss */

body {
  font-family: Lato,Ubuntu,Helvetica,Arial;
  background-color: white;
  font-size: 16px;
  line-height: 1.5em;
  height: auto;
  color: #222222;
  text-rendering: optimizeLegibility;
}

/* line 19, ../scss/style.scss */

a {
  text-decoration: underline;
}

/* line 26, ../scss/style.scss */

.facebook,
.gmail,
.linkedin,
.twitter,
.wordpress {
  background: url("../img/socialH-s6f05c78d5d.png") no-repeat;
}

/* line 28, ../scss/style.scss */

.facebook:hover,
.gmail:hover,
.linkedin:hover,
.twitter:hover,
.wordpress:hover {
  background: url("../img/social-sde45399f23.png") no-repeat;
}

/* line 33, ../scss/style.scss */

.social {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}

/* line 60, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

.social li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}

/* line 48, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

.social li:first-child,
.social li.first {
  padding-left: 0;
}

/* line 49, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

.social li:last-child {
  padding-right: 0;
}

/* line 50, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

.social li.last {
  padding-right: 0;
}

/* line 36, ../scss/style.scss */

.social ul {
  text-align: center;
  width: 100%;
}

/* line 41, ../scss/style.scss */

.social ul li {
  display: inline-block;
  width: 32px;
  height: 32px;
  float: none;
  margin-top: 5px;
}

/* line 49, ../scss/style.scss */

.social ul li.facebook {
  background-position: 0 -128px;
}

/* line 52, ../scss/style.scss */

.social ul li.facebook a {
  text-indent: -9999px;
  display: block;
  width: 32px;
  height: 32px;
}

/* line 59, ../scss/style.scss */

.social ul li.facebook:hover {
  background-position: 0 -128px;
  height: 64px;
}

/* line 64, ../scss/style.scss */

.social ul li.gmail {
  background-position: 0 -96px;
}

/* line 66, ../scss/style.scss */

.social ul li.gmail a {
  text-indent: -9999px;
  display: block;
  width: 32px;
  height: 32px;
}

/* line 72, ../scss/style.scss */

.social ul li.gmail:hover {
  background-position: 0 0;
}

/* line 78, ../scss/style.scss */

.social ul li.linkedin {
  background-position: 0 -64px;
}

/* line 80, ../scss/style.scss */

.social ul li.linkedin a {
  text-indent: -9999px;
  display: block;
  width: 32px;
  height: 32px;
}

/* line 86, ../scss/style.scss */

.social ul li.linkedin:hover {
  background-position: 0 -96px;
}

/* line 90, ../scss/style.scss */

.social ul li.twitter {
  background-position: 0 -32px;
}

/* line 92, ../scss/style.scss */

.social ul li.twitter a {
  text-indent: -9999px;
  display: block;
  width: 32px;
  height: 32px;
}

/* line 98, ../scss/style.scss */

.social ul li.twitter:hover {
  background-position: 0 -64px;
}

/* line 103, ../scss/style.scss */

.social ul li.wordpress {
  background-position: 0 0;
}

/* line 105, ../scss/style.scss */

.social ul li.wordpress a {
  text-indent: -9999px;
  display: block;
  width: 32px;
  height: 32px;
}

/* line 111, ../scss/style.scss */

.social ul li.wordpress:hover {
  background-position: 0 -32px;
}

/* line 118, ../scss/style.scss */

nav {
  position: relative;
  width: 100%;
  height: 0;
}

/* line 122, ../scss/style.scss */

nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  display: block;
  height: 0;
  overflow: visible;
}

/* line 60, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}

/* line 48, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

nav ul li:first-child,
nav ul li.first {
  padding-left: 0;
}

/* line 49, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

nav ul li:last-child {
  padding-right: 0;
}

/* line 50, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

nav ul li.last {
  padding-right: 0;
}

/* line 130, ../scss/style.scss */

nav ul.title-area {
  width: auto;
}

/* line 138, ../scss/style.scss */

.large-8,
.large-4,
.large-6,
.large-7 {
  color: rgba(0, 0, 0, 0.8);
}

/* line 142, ../scss/style.scss */

#commentform p {
  margin: 1em 0;
}

/* line 145, ../scss/style.scss */

#commentform label + p {
  margin-top: 0;
}

/* line 150, ../scss/style.scss */

.comment p {
  margin: 1.2em 0;
}

/* line 154, ../scss/style.scss */

.logo {
  background-image: url('../img/logoprint.png?1381332577');
  width: 111px;
  height: 60px;
  position: absolute;
  z-index: 100;
  top: -8px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-top: 0;
}

/* line 166, ../scss/style.scss */

.logo a {
  display: block;
  width: 150px;
  height: 174px;
}

/* line 172, ../scss/style.scss */

nav ul li {
  padding: 0;
}

/* line 175, ../scss/style.scss */

.orbit-container li {
  text-align: center;
}

/* line 177, ../scss/style.scss */

.orbit-container li img {
  display: inline-block;
  margin: auto;
  z-index: 20;
  top: -20%;
  position: relative;
}

/* line 185, ../scss/style.scss */

.social {
  height: 40px;
}

/* line 188, ../scss/style.scss */

.noComment {
  text-align: center;
  font-style: italic;
}

/* line 192, ../scss/style.scss */

.orbit-prev,
.orbit-next {
  height: 100%;
}

/* line 195, ../scss/style.scss */

#top .image {
  overflow: visible;
}

/* line 198, ../scss/style.scss */

.image {
  position: relative;
  z-index: 10;
  background-color: #171C1F;
  height: 400px;
  background-image: url('../img/logo.jpg?1382003946');
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-box-shadow: inset 0 -10px 60px 10px black;
  box-shadow: inset 0 -10px 60px 10px black;
}

/* line 208, ../scss/style.scss */

.image .ban {
  /*background-color: rgba(0,0,0,0.6);*/
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
  text-align: center;
  /* height:40%;*/
  min-height: 15em;
}

/* line 227, ../scss/style.scss */

.image .infosSup {
  float: right;
}

/* line 230, ../scss/style.scss */

.image ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin-top: 50px;
  overflow: visible;
  height: auto;
}

/* line 60, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

.image ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}

/* line 48, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

.image ul li:first-child,
.image ul li.first {
  padding-left: 0;
}

/* line 49, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

.image ul li:last-child {
  padding-right: 0;
}

/* line 50, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

.image ul li.last {
  padding-right: 0;
}

/* line 237, ../scss/style.scss */

.image ul li {
  display: inline-block;
  float: none;
}

/* line 244, ../scss/style.scss */

.search-submit {
  display: none;
}

/* line 247, ../scss/style.scss */

.screen-reader-text {
  display: none;
}

/* line 250, ../scss/style.scss */

.top-bar form label {
  background-color: #FFF;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 254, ../scss/style.scss */

.top-bar form .search-field {
  background-image: url('../img/icon-search.png?1381741886');
  background-position: 5px center;
  background-repeat: no-repeat;
  -webkit-background-size: 24px 24px;
  background-size: 24px 24px;
  border: medium none;
  cursor: pointer;
  height: 37px;
  margin: 3px 0;
  padding: 0 0 0 34px;
  position: relative;
  -webkit-transition: width 400ms ease 0s, background 400ms ease 0s;
  transition: width 400ms ease 0s, background 400ms ease 0s;
  width: 0;
  top: 0;
}

/* line 269, ../scss/style.scss */

.top-bar form .search-field:focus {
  background-color: #FFFFFF;
  border: 2px solid #C3C0AB;
  cursor: text;
  outline: 0 none;
  width: 230px;
  -webkit-box-shadow: 0 0 5px #b1f7d8;
  box-shadow: 0 0 5px #b1f7d8;
}

/* line 277, ../scss/style.scss */

ul > li.bulle {
  z-index: 100;
  width: 192px;
  height: 200px;
  vertical-align: baseline;
  bottom: 0;
  background-image: url('../img/perso.png?1381048064');
  display: inline-block;
  margin-left: 5%;
  float: none;
  border-radius: 50% / 80%;
  opacity: 0.9;
  -webkit-box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5) 2px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5) 2px;
}

/* line 291, ../scss/style.scss */

ul > li.bulle a {
  width: 188px;
  height: 200px;
  display: block;
}

/* line 297, ../scss/style.scss */

ul > li.bulle:hover {
  cursor: pointer;
}

/* line 303, ../scss/style.scss */

li.bulle:first-child {
  margin-left: 0;
}

/* line 306, ../scss/style.scss */

.clear {
  clear: both;
}

/* line 309, ../scss/style.scss */

.light {
  color: rgba(0, 0, 0, 0.5);
}

/* line 312, ../scss/style.scss */

.italic {
  font-style: italic;
}

/* line 315, ../scss/style.scss */

.huge {
  font-size: 2.5em;
}

/* line 318, ../scss/style.scss */

em {
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}

/* line 322, ../scss/style.scss */

figure {
  width: 150px;
  height: 100px;
  margin: auto;
  padding-top: 0;
  word-wrap: break-word;
  /* IE 5.5-7 */
  white-space: -moz-pre-wrap;
  /* Firefox 1.0-2.0 */
  white-space: pre-wrap;
}

/* line 330, ../scss/style.scss */

figure figcaption {
  padding-top: 35px;
  width: 150px;
  height: 100px;
}

/* line 336, ../scss/style.scss */

.hide {
  display: none;
}

/* line 339, ../scss/style.scss */

.clear {
  clear: both;
}

/* line 342, ../scss/style.scss */

#container {
  width: 100%;
  height: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.8);
  background-color: #FFF;
  overflow: hidden;
  margin-top: 65px;
}

/* line 349, ../scss/style.scss */

#container .down {
  position: absolute;
  width: 150px;
  height: 30px;
  top: 30%;
}

/* line 356, ../scss/style.scss */

#accueil #container {
  margin-top: 0;
}

/* line 359, ../scss/style.scss */

.main {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.9);
  margin: auto;
  padding: 2em 1em 5em 1em;
}

/* line 366, ../scss/style.scss */

.hiddenContentPerso {
  display: none;
}

/* line 369, ../scss/style.scss */

.row {
  max-width: 100%;
}

/* line 373, ../scss/style.scss */

q {
  color: white;
  font-size: 1.8em;
  line-height: 1.3em;
  font-weight: 400;
}

/* line 379, ../scss/style.scss */

h2 {
  font-size: 4em;
  line-height: 1.2em;
  padding-bottom: 10px;
  text-align: center;
  font-weight: 900;
  color: #14c878;
  /* @include single-text-shadow(black,1px,1px,0px); */
}

/* line 388, ../scss/style.scss */

a {
  color: #14c878;
}

/* line 391, ../scss/style.scss */

h3 {
  font-size: 2em;
  line-height: 120%;
  border: 0;
  font-weight: 700;
  text-align: left;
  padding: 0;
  margin: auto;
  margin-bottom: 1em;
}

/* line 400, ../scss/style.scss */

h3:hover {
  border: 0;
}

/* line 404, ../scss/style.scss */

nav.top-bar.expanded {
  background-color: #FFF;
}

/* line 407, ../scss/style.scss */

nav.top-bar {
  padding: 0 2%;
  position: fixed;
  height: 70px;
  background: none repeat scroll 0 0 white;
  -webkit-box-shadow: 0 0px 10px 0 black;
  box-shadow: 0 0px 10px 0 black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

/* line 414, ../scss/style.scss */

nav.top-bar .right {
  background-color: 0;
  margin-top: 10px;
}

/* line 418, ../scss/style.scss */

nav.top-bar .title-area {
  margin-top: 10px;
}

/* line 423, ../scss/style.scss */

nav.top-bar li:hover {
  background-color: 0;
}

/* line 426, ../scss/style.scss */

nav.top-bar li a {
  font-weight: 300;
  font-size: 1.1em;
  opacity: 0.6;
  overflow: visible;
  text-decoration: none;
  color: black;
  background-color: 0;
}

/* line 435, ../scss/style.scss */

nav.top-bar li a:hover {
  text-decoration: none;
  -webkit-transition: all, 0.3s, ease;
  transition: all, 0.3s, ease;
  opacity: 1;
}

/* line 444, ../scss/style.scss */

.button {
  margin-top: 0.5em;
  background-color: #14c878;
  border-color: #063d25;
}

/* line 448, ../scss/style.scss */

.button:hover,
.button:focus {
  background-color: #0f9a5c;
}

/* line 452, ../scss/style.scss */

#blog article img {
  max-width: 200px;
  max-height: 250px;
}

/* line 457, ../scss/style.scss */

#accueil .main > .row,
#blog .main > .row,
#projets .main > .row {
  margin-bottom: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2em 0;
}

/* line 462, ../scss/style.scss */

#single article img {
  margin-bottom: 1em;
  width: 100%;
}

/* line 466, ../scss/style.scss */

#accueil .row.projets {
  margin-bottom: 3em;
}

/* line 469, ../scss/style.scss */

#accueil .main > .row:last-child,
#blog .main > .row:last-child {
  border: 0;
}

/* line 472, ../scss/style.scss */

.row.article {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 3em;
  padding-bottom: 2em;
}

/* line 477, ../scss/style.scss */

.row.title {
  padding: 2em 0;
  margin-bottom: 3em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* line 482, ../scss/style.scss */

.row.doc {
  margin-top: 4em;
  text-align: center;
}

/* line 486, ../scss/style.scss */

.cv {
  background-color: #14c878;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 10px;
  border: 10px solid #54eeaa;
  display: inline-block;
}

/* line 494, ../scss/style.scss */

.cv:hover,
.cv:focus {
  background-color: #0f9a5c;
}

/* line 497, ../scss/style.scss */

.cv a {
  color: white;
  font-weight: 700;
  font-size: 1.2em;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 8px;
}

/* line 506, ../scss/style.scss */

.cv a:hover {
  color: white;
  font-weight: 700;
  font-size: 1.2em;
  text-decoration: none;
}

/* line 512, ../scss/style.scss */

.cv a:hover {
  padding-bottom: 50px;
}

/* line 518, ../scss/style.scss */

ul#imgTracker {
  padding: 1% 0;
  text-align: center;
  width: 100%;
  text-align: center;
}

/* line 525, ../scss/style.scss */

ul#imgTracker li {
  margin-bottom: 10px;
  margin-left: 1%;
  height: 145px;
  width: 22%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: inline-block;
}

/* line 534, ../scss/style.scss */

ul#imgTracker li img {
  display: inline;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

/* line 549, ../scss/style.scss */

ul#imgTracker li:first-child,
ul#imgTracker li.focus {
  min-width: 100px;
  height: 300px;
  width: 50%;
  margin-right: 1%;
  float: left;
  margin-bottom: 5em;
  margin-left: 1px;
}

/* line 559, ../scss/style.scss */

ul#imgTracker li:first-child img,
ul#imgTracker li.focus img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  display: inline;
  margin: auto;
}

/* line 571, ../scss/style.scss */

ul#imgTracker li.alternate {
  float: right;
}

/* line 579, ../scss/style.scss */

.lastProjet {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  text-align: center;
}

/* line 60, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

.lastProjet li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}

/* line 48, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

.lastProjet li:first-child,
.lastProjet li.first {
  padding-left: 0;
}

/* line 49, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

.lastProjet li:last-child {
  padding-right: 0;
}

/* line 50, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

.lastProjet li.last {
  padding-right: 0;
}

/* line 582, ../scss/style.scss */

.lastProjet a {
  z-index: 10;
  display: block;
  position: relative;
}

/* line 587, ../scss/style.scss */

.lastProjet .overImg {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: white;
  padding: 10% 2%;
  font-size: 110%;
  line-height: 1.2em;
  text-align: center;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/* line 604, ../scss/style.scss */

.lastProjet .overImg h4 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.5em;
}

/* line 609, ../scss/style.scss */

.lastProjet .overImg p {
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.5em;
  font-weight: 400;
  text-align: center;
}

/* line 617, ../scss/style.scss */

.lastProjet a:hover .overImg {
  opacity: 1;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all, 0.2s, ease;
  transition: all, 0.2s, ease;
}

/* line 627, ../scss/style.scss */

.lastProjet h4 {
  font-size: 1.5em;
  font-weight: 500;
}

/* line 632, ../scss/style.scss */

#imgTracker .overImg {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: white;
  padding: 10% 2%;
  font-size: 110%;
  line-height: 1.2em;
  text-align: center;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/* line 649, ../scss/style.scss */

#imgTracker .overImg a {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

/* line 655, ../scss/style.scss */

#imgTracker .overImg h4 {
  font-size: 150%;
  font-weight: 700;
  line-height: 1.5em;
}

/* line 660, ../scss/style.scss */

#imgTracker .overImg p {
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.5em;
  font-weight: 400;
}

/* line 667, ../scss/style.scss */

#imgTracker li.th:hover .overImg {
  opacity: 1;
  -webkit-transition: all, 0.8s, ease;
  transition: all, 0.8s, ease;
}

/* line 671, ../scss/style.scss */

#imgTracker li.th:hover img {
  -webkit-transform: scale3d(1.2, 1.2, 0);
  -ms-transform: scale3d(1.2, 1.2, 0);
  transform: scale3d(1.2, 1.2, 0);
  -webkit-transition: -webkit-transform 5000ms cubic-bezier(0, 0, 0.8, 0.9);
  transition: transform 5000ms cubic-bezier(0, 0, 0.8, 0.9);
}

/* line 676, ../scss/style.scss */

#imgTracker li.th:hover {
  -webkit-transition: -webkit-transform 10000ms cubic-bezier(0, 0, 0.8, 0.9);
  transition: transform 10000ms cubic-bezier(0, 0, 0.8, 0.9);
}

/* line 681, ../scss/style.scss */

input:hover,
textarea:hover,
input:focus,
textarea:focus,
input:active,
textarea:active,
input:active,
textarea:active {
  border: 1px solid #14c878;
  -webkit-box-shadow: 0 0 5px #b1f7d8;
  box-shadow: 0 0 5px #b1f7d8;
}

/* line 685, ../scss/style.scss */

input {
  background-color: white;
}

/* line 694, ../scss/style.scss */

input[type="text"] {
  padding: 0 0.5em;
}

/* line 697, ../scss/style.scss */

input[type="checkbox"] {
  float: left;
  margin: 0;
  margin-top: 5px;
  margin-right: 1em;
}

/* line 703, ../scss/style.scss */

#pagination {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  text-align: center;
}

/* line 60, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

#pagination li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}

/* line 48, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

#pagination li:first-child,
#pagination li.first {
  padding-left: 0;
}

/* line 49, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

#pagination li:last-child {
  padding-right: 0;
}

/* line 50, ../../../../../../../Program Files (x86)/Prepros/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */

#pagination li.last {
  padding-right: 0;
}

/* line 706, ../scss/style.scss */

#pagination li {
  display: inline-block;
  float: none;
}

/* line 711, ../scss/style.scss */

#contactForm .row {
  margin: 1em 0;
}

/* line 716, ../scss/style.scss */

input[type="submit"] {
  background-color: #14c878;
  border: 1px solid #0d824e;
}

/* line 719, ../scss/style.scss */

input[type="submit"]:hover {
  background-color: #0f9a5c;
}

/* line 723, ../scss/style.scss */

#gmap {
  display: block;
  height: 100%;
  width: 100%;
  min-width: 100px;
  min-height: 300px;
}

/* line 730, ../scss/style.scss */

.top-bar ul .name {
  margin-right: 1em;
}

/* line 733, ../scss/style.scss */

.section {
  text-indent: -9999px;
  border: 0;
  margin: 0;
  padding: 0;
  height: 0;
  width: 0;
  position: absolute;
}

/* line 746, ../scss/style.scss */

#imgTracker li.th:hover img {
  opacity: 0.2;
}

/* line 750, ../scss/style.scss */

.main p.lien {
  text-align: center;
}

/* line 752, ../scss/style.scss */

.main p.lien a {
  font-weight: bold;
}

/* line 756, ../scss/style.scss */

.presentation p {
  font-size: 3em;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 2%;
  text-shadow: 2px 2px 2px black;
  margin-bottom: 0.2em;
}

/* line 765, ../scss/style.scss */

.presentation .portfolio {
  font-size: 1.2em;
  padding: 0;
}

/* line 769, ../scss/style.scss */

ul.mainMenu {
  display: inline-block;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 778, ../scss/style.scss */

ul.mainMenu li {
  background-image: url('../img/b1.png?1381521227');
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  max-width: 20%;
  min-width: 15%;
  -o-border-radius: 40px;
  border-radius: 40px;
  padding: 5px 0;
}

/* line 786, ../scss/style.scss */

ul.mainMenu li:hover {
  -webkit-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  -webkit-box-shadow: 2px 2px 30px 0px black;
  box-shadow: 2px 2px 30px 0px black;
  -webkit-transition: all, 0.5s, ease-in;
  transition: all, 0.5s, ease-in;
}

/* line 791, ../scss/style.scss */

ul.mainMenu li a {
  display: block;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0.9);
  font-size: 7em;
  text-decoration: none;
}

/* line 798, ../scss/style.scss */

ul.mainMenu li a:hover,
ul.mainMenu li a focus {
  text-decoration: none;
}

/* line 801, ../scss/style.scss */

ul.mainMenu li a p {
  font-size: 24px;
}

/* line 809, ../scss/style.scss */

a {
  color: #14c878;
  text-decoration: underline;
}

/* line 812, ../scss/style.scss */

a:hover {
  color: #0b6b40;
  text-decoration: underline;
}

/* line 818, ../scss/style.scss */

a i:hover {
  text-shadow: 0 0 20px #aaaaaa;
}

/* line 824, ../scss/style.scss */

header {
  margin-top: 70px;
}

/* line 827, ../scss/style.scss */

.contact:first-child {
  margin-top: 20px;
}

/* line 831, ../scss/style.scss */

.row form {
  margin: 20px 0;
}

/* line 835, ../scss/style.scss */

fieldset {
  border: 1px solid #14c878;
  padding: 1em;
}

/* line 842, ../scss/style.scss */

.contact {
  line-height: 2em;
  display: block;
  padding: 0 0.5em;
}

/* line 848, ../scss/style.scss */

article > p {
  line-height: 1.5em;
  text-align: justify;
  font-size: 20px;
  font-weight: 400;
  margin: auto;
}

/* line 855, ../scss/style.scss */

.row.article article > p {
  margin: 0;
}

/* line 858, ../scss/style.scss */

.article a > i {
  color: rgba(0, 0, 0, 0.8);
}

/* line 861, ../scss/style.scss */

.row.head {
  margin-bottom: 2em;
}

/* line 863, ../scss/style.scss */

.row.head h2 {
  border: 0;
  margin-bottom: 0;
}

/* line 869, ../scss/style.scss */

.row.comments .large-8.columns {
  margin: auto;
  float: none;
}

/* line 873, ../scss/style.scss */

.row.comments .large-8.columns h3 {
  text-align: center;
}

/* line 878, ../scss/style.scss */

textarea {
  min-height: 60px;
  margin: 0;
}

/* line 882, ../scss/style.scss */

ol.comments {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1em 0.5em;
  margin: 1em auto;
}

/* line 886, ../scss/style.scss */

ol.comments p {
  text-align: justify;
}

/* line 889, ../scss/style.scss */

ol.comments li {
  display: block;
  width: 80%;
  margin: auto;
  padding: 1em 0.5em 1.2em 0.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* line 896, ../scss/style.scss */

ol.comments li .comment-header {
  padding: 1em;
  margin-bottom: 0.5em;
}

/* line 899, ../scss/style.scss */

ol.comments li .comment-header img {
  float: left;
}

/* line 902, ../scss/style.scss */

ol.comments li .comment-header .vcard {
  padding: 0.5em;
  margin-bottom: 0;
}

/* line 905, ../scss/style.scss */

ol.comments li .comment-header .vcard a.comment-name,
ol.comments li .comment-header .vcard .comment-date {
  display: inline-block;
  width: 100%;
}

/* line 910, ../scss/style.scss */

ol.comments li .comment-header .vcard .comment-name {
  font-weight: bold;
  text-decoration: none;
  margin: 0;
}

/* line 914, ../scss/style.scss */

ol.comments li .comment-header .vcard .comment-name a {
  text-decoration: none;
}

/* line 918, ../scss/style.scss */

ol.comments li .comment-header .vcard .comment-date {
  text-decoration: none;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.8);
}

/* line 926, ../scss/style.scss */

ol.comments li:last-child {
  border: 0;
}

/* line 931, ../scss/style.scss */

article {
  width: 80%;
  margin: auto;
}

/* line 935, ../scss/style.scss */

article .fullArticle {
  width: 80%;
  margin: auto;
  text-align: justify;
}

/* line 941, ../scss/style.scss */

article img {
  float: left;
  margin-right: 0.5em;
}

/* line 947, ../scss/style.scss */

article span {
  display: block;
  height: auto;
  margin: 0 1em 1em 0;
}

/* line 953, ../scss/style.scss */

.infosDate {
  font-size: 0.9em;
  line-height: 1.5em;
}

/* line 957, ../scss/style.scss */

.infosDate p {
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

/* line 963, ../scss/style.scss */

.article {
  display: block;
  width: 80%;
  text-decoration: none;
}

/* line 968, ../scss/style.scss */

.icon-calendar.article {
  font-size: 2em;
  color: rgba(0, 0, 0, 0.5);
}

/* line 972, ../scss/style.scss */

.imageArticle {
  display: block;
  float: left;
  margin: 0 1em 1em 0;
}

/* line 977, ../scss/style.scss */

.date {
  color: rgba(0, 0, 0, 0.8);
}

/* line 979, ../scss/style.scss */

.date:hover {
  color: black;
}

/* line 983, ../scss/style.scss */

.moreArticle {
  text-align: center;
}

/**IE TU PUES*/

/* line 991, ../scss/style.scss */

.no-rgba .title-area {
  float: left;
}

/* line 994, ../scss/style.scss */

.no-rgba .top-bar-section {
  float: right;
}

/* line 997, ../scss/style.scss */

.no-rgba .top-bar {
  border-bottom: 1px solid black;
}

/* line 999, ../scss/style.scss */

.no-rgba .top-bar .menu-icon.toggle-topbar {
  color: black;
}

/* line 1003, ../scss/style.scss */

.no-rgba .top-bar li a {
  color: black;
}

/* line 1014, ../scss/style.scss */

.no-rgba .mainMenu li:hover {
  background-color: black;
}

/* line 1019, ../scss/style.scss */

.no-rgba .mainMenu a {
  color: black;
}

/* line 1022, ../scss/style.scss */

.no-rgba .mainMenu a:hover {
  color: #14c878;
}

/* line 1030, ../scss/style.scss */

.no-rgba #container {
  background-color: #efefef;
}

/* line 1033, ../scss/style.scss */

.no-rgba .main {
  background-color: #fdfdfd;
}

/* line 1038, ../scss/style.scss */

.no-csscolumns .large-4 {
  width: 33.3333%;
}

/* line 1041, ../scss/style.scss */

.no-csscolumns .large-7 {
  width: 58.3333%;
}

/* line 1046, ../scss/style.scss */

.no-backgroundsize .image {
  min-width: 100%;
  min-height: 100%;
  background-image: url('../img/logoIE.jpg?1382191797');
}

@media (min-width: 768px) and (max-width: 1445px) {
  /* line 8, ../scss/responsive.scss */

  .row .large-6.large-offset-1 {
    width: 100%;
    margin-left: 0;
  }

  /* line 12, ../scss/responsive.scss */

  article.large-7 {
    width: 70%;
  }

  /* line 15, ../scss/responsive.scss */

  nav.top-bar .right {
    margin-top: 0;
  }

  /* line 19, ../scss/responsive.scss */

  .top-bar-section .right {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  /* line 25, ../scss/responsive.scss */

  body {
    font-size: 14px;
  }

  /* line 28, ../scss/responsive.scss */

  body.f-topbar-fixed {
    padding: 0;
  }

  /* line 31, ../scss/responsive.scss */

  article {
    width: 100%;
  }

  /* line 34, ../scss/responsive.scss */

  article .fullArticle {
    width: 100%;
  }

  /* line 38, ../scss/responsive.scss */

  h2 {
    margin-top: 20px;
  }

  /* line 41, ../scss/responsive.scss */

  .button {
    margin-top: 0;
  }

  /* line 44, ../scss/responsive.scss */

  ol.comments {
    width: 100%;
  }

  /* line 51, ../scss/responsive.scss */

  .ban ul li {
    max-width: 25%;
    min-width: 20%;
    -o-border-radius: 35%;
    border-radius: 35%;
  }

  /* line 55, ../scss/responsive.scss */

  .ban ul li a {
    font-size: 6em;
  }

  /* line 58, ../scss/responsive.scss */

  .ban ul li p {
    text-indent: -99999px;
    position: absolute;
  }

  /* line 67, ../scss/responsive.scss */

  .columns p {
    max-width: 100%;
    text-align: justify;
  }

  /* line 72, ../scss/responsive.scss */

  article {
    margin: 1em 0;
  }

  /* line 75, ../scss/responsive.scss */

  .top-bar {
    overflow: visible;
    height: auto;
  }

  /* line 79, ../scss/responsive.scss */

  .top-bar .toggle-topbar.menu-icon {
    margin-top: 0;
    z-index: 20;
  }

  /* line 83, ../scss/responsive.scss */

  .top-bar .dropdown {
    left: 0;
  }

  /* line 86, ../scss/responsive.scss */

  .top-bar .top-bar-section {
    display: none;
  }

  /* line 91, ../scss/responsive.scss */

  .top-bar.expanded {
    background-color: black;
  }

  /* line 93, ../scss/responsive.scss */

  .top-bar.expanded .top-bar-section {
    display: block;
  }

  /* line 97, ../scss/responsive.scss */

  nav.expanded ul li {
    float: left;
    text-align: center;
    width: 25%;
  }

  /* line 106, ../scss/responsive.scss */

  .main {
    width: 100%;
  }

  /* line 110, ../scss/responsive.scss */

  .top-bar .toggle-topbar.menu-icon a {
    color: gray;
  }

  /* line 114, ../scss/responsive.scss */

  .columns {
    margin-bottom: 1em;
  }

  /* line 118, ../scss/responsive.scss */

  .moreArticle {
    text-align: center;
  }

  /* line 120, ../scss/responsive.scss */

  .moreArticle .date,
  .moreArticle .light {
    text-align: center;
  }

  /* line 124, ../scss/responsive.scss */

  h3 {
    text-align: center;
  }
}

@media (max-width: 485px) {
  /* line 131, ../scss/responsive.scss */

  .main {
    width: 100%;
  }

  /* line 134, ../scss/responsive.scss */

  ul#imgTracker.inline-list {
    width: 100%;
    margin: auto;
    overflow: visible;
  }

  /* line 139, ../scss/responsive.scss */

  ul#imgTracker.inline-list li:first-child,
  ul#imgTracker.inline-list li.focus {
    width: 100%;
    margin-bottom: 2%;
    height: 100px;
  }

  /* line 144, ../scss/responsive.scss */

  ul#imgTracker.inline-list li {
    width: 24%;
    height: 50px;
  }

  /* line 149, ../scss/responsive.scss */

  ul#imgTracker.inline-list .overImg p {
    text-align: center;
  }
}