$gray: rgba(0,0,0,0.8);
$lightGray: rgba(0,0,0,0.5);
$ultraLightGray:rgba(0,0,0,0.2);
$grayIE: #EFEFEF;
$links:rgba(20,150,30,0.9);
$main:rgb(20,200,120);
$whiteIE: #FDFDFD;
$comment-fond:rgba(205,205,105,0.1);
$mainA: rgba(20,200,120,0.9);
