@import "compass";
@import "foundation/variables";
@import "_variables";
@media (max-width:1036px){

}
@media (min-width: 768px) and (max-width: 1445px) { 
    .row .large-6.large-offset-1{
        width:100%;
        margin-left: 0;
    }
    article.large-7{
        width:70%;
    }
    nav.top-bar .right{
      
        margin-top: 0;
    }
    .top-bar-section .right{
          width:auto;
            margin-top: 0;
    }
}
@media (max-width: 767px) {
    body{
        font-size: 14px;
    }
    body.f-topbar-fixed{
        padding:0;
    }
    article {
        width:100%;

        .fullArticle{
            width:100%;
        }
    }
    h2{
        margin-top: 20px;
    }
    .button{
        margin-top: 0;
    }
    ol.comments{
        width:100%;
    }
    .ban{
        ul{


            li{
                max-width: 25%;
                min-width: 20%;
                @include border-radius(35%);
                a{
                    font-size: 6em;
                }
                p{
                    text-indent: -99999px;
                    position:absolute;
                }
            }
        }
    }
    .columns{

        p{
            max-width:100%;
            text-align: justify;
        }
    }
    article{
        margin:1em 0;
    }
    .top-bar{
        overflow:visible;
        height: auto;

        .toggle-topbar.menu-icon{
            margin-top: 0;
            z-index: 20;
        }
        .dropdown{
            left:0;
        }
        .top-bar-section{
         display:none;
     }
 }
 .top-bar.expanded
 {
    background-color: black;
    .top-bar-section{
     display:block;
 }
}
nav.expanded ul li{
    float:left;
    text-align: center;
    width:25%;
    a{


    }
}
.main{
    width:100%;
}
.top-bar .toggle-topbar.menu-icon{
    a{
        color:gray;
    }
}
.columns{
    margin-bottom: 1em;
}

.moreArticle{
    text-align: center;
    .date,.light{
        text-align: center;
    }
}
h3{
    text-align: center;
}
}


@media (max-width:485px){
    .main{
        width:100%;
    }
   ul#imgTracker.inline-list{
    width:100%;
    margin:auto;

    overflow: visible;
     li:first-child,li.focus{
        width:100%;
            margin-bottom: 2%;
            height:100px;
    }
    li{
        width:24%;
        height: 50px;
    }
    .overImg{
        p{
            text-align: center;
        }
    }
    }

}