@import "compass";
@import "compass/reset";
@import "foundation/variables";
@import "_variables";
@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
@import "socialH/*.png";
@include all-socialH-sprites;
@import "social/*.png";
@include all-social-sprites;
body{
    font-family: Lato,Ubuntu,Helvetica,Arial;
    background-color: white;
    font-size: 16px;
    line-height: 1.5em;
    height:auto;
    color:$grayStyle;
    text-rendering:optimizeLegibility  ;
}
a{
    text-decoration: underline;
}
.facebook,
.gmail,
.linkedin,
.twitter,
.wordpress {
  background: url('../img/socialH-s6f05c78d5d.png') no-repeat;
  &:hover{
      background: url('../img/social-sde45399f23.png') no-repeat;
  }
}

.social{

 @include horizontal-list();
 ul{

    text-align: center;
    width:100%;

    li{
        display:inline-block;
        width:32px;
        height: 32px;
        float:none;
        margin-top:5px;

    }
    li.facebook{
     background-position: 0 -128px;

     a{
        text-indent: -9999px;
        display:block;
        width:32px;
        height:32px;
        
    }
    &:hover{
      background-position: 0 -128px;
      height: 64px;
  }
}
li.gmail{
  background-position: 0 -96px;
  a{
    text-indent: -9999px;
    display:block;
    width:32px;
    height:32px;
}
&:hover{
    background-position: 0 0;


}
}
li.linkedin{
  background-position: 0 -64px;
  a{
    text-indent: -9999px;
    display:block;
    width:32px;
    height:32px;
}
&:hover{
  background-position: 0 -96px;
}
}
li.twitter{
   background-position: 0 -32px;
   a{
    text-indent: -9999px;
    display:block;
    width:32px;
    height:32px;
}
&:hover{
    background-position: 0 -64px;

}
}
li.wordpress{
   background-position: 0 0;
   a{
    text-indent: -9999px;
    display:block;
    width:32px;
    height:32px;
}
&:hover{
  background-position: 0 -32px;

}
}
}
}
nav{    
    position:relative;
    width:100%;
    height:0;
    ul{
        @include horizontal-list();
        width: 100%;
        display:block;
        height:0;
        overflow: visible;

    }
    ul.title-area{
        width:auto;
    }
    ul.dropdown{

    }
}
.large-8,.large-4,.large-6,.large-7
{
    color: $gray;
}
#commentform{
    p{
        margin:1em 0;
    }
    label+p{
        margin-top: 0;
    }
}
.comment{
    p{
        margin:1.2em 0;
    }
}
.logo{
    background-image: image-url('logoprint.png');
    width:111px;
    height: 60px;
    position: absolute;
    z-index: 100;
    top:-8px;
    left:0;
    right:0;
    bottom: 0;
    margin:auto;
    margin-top: 0;
    a{
        display:block;
        width:150px;
        height: 174px;
    }
}
nav ul li{
    padding:0;
}
.orbit-container li{
    text-align: center;
    img{
        display:inline-block;
        margin:auto;
        z-index: 20;
        top:-20%;
        position:relative;
    }
}
.social{
    height: 40px;
}
.noComment{
    text-align: center;
    font-style: italic;
}
.orbit-prev,.orbit-next{
    height:100%;
}
#top .image{
    overflow:visible;
}
.image{
    position:relative;
    z-index: 10;
    background-color: #171C1F;
    height: 400px;
    background-image: image-url('logo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    @include single-box-shadow(black,0,-10px,60px,10px,inset);
    .ban{
        /*background-color: rgba(0,0,0,0.6);*/
        left:0;
        right:0;
        bottom:0;
        position: absolute;
        margin:auto;
        text-align: center;
        /* height:40%;*/
        min-height: 15em;
       /* @if top == 150px
        {
            margin-top:150px;
        }
        @else{
        margin-top:0;
        }*/
    }

    .infosSup{
        float:right;
    }
    ul{
        @include horizontal-list();
        margin-top:50px;
        overflow:visible;
        height:auto;


        li{
            display:inline-block;
            float:none;
        }

    }
}
.search-submit{
    display:none;
}
.screen-reader-text{
    display:none;
}
.top-bar form label{
    background-color: #FFF;
    @include border-radius(5px);
}
.top-bar form .search-field{
    background-image: image-url("icon-search.png");
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    border: medium none;
    cursor: pointer;
    height: 37px;
    margin: 3px 0;
    padding: 0 0 0 34px;
    position: relative;
    transition: width 400ms ease 0s, background 400ms ease 0s;
    width: 0;
    top:0;
}
.top-bar form .search-field:focus {
    background-color: #FFFFFF;
    border: 2px solid #C3C0AB;
    cursor: text;
    outline: 0 none;
    width: 230px;
    @include single-box-shadow(lighten($main,40%),0,0,5px);
}
ul>li.bulle{   
    z-index: 100;
    width:192px;
    height: 200px;
    vertical-align: baseline;
    bottom:0;
    background-image: image-url('perso.png');
    display:inline-block;
    margin-left: 5%;
    float:none;
    @include border-radius(50%,80%);
    opacity: 0.9;

    @include single-box-shadow(2px,5px,10px,5px,rgba(0,0,0,0.5));
    a{
        width:188px;
        height: 200px;
        display:block;
    }

    &:hover{

        cursor:pointer;
    }

}
li.bulle:first-child{
    margin-left: 0;
}
.clear{
    clear:both;
}
.light{
    color:$lightGray;
}
.italic{
    font-style: italic;
}
.huge{
    font-size: 2.5em;
}
em{
    font-style: italic;
    color:$lightGray;
}
figure{
    width:150px;
    height:100px;
    margin:auto;
    padding-top: 0;
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap; 
    figcaption{
        padding-top:35px;
        width:150px;
        height:100px;
    }
}
.hide{
    display:none;
}
.clear{
    clear:both;
}
#container{
    width:100%;
    height:100%;
    border-top: 2px solid $gray;
    background-color: #FFF;
    overflow: hidden;
    margin-top: 65px;
    .down{
        position:absolute;
        width:150px;
        height:30px;
        top:30%;
    }
}
#accueil #container{
    margin-top: 0;
}
.main{

    width:90%;
    background-color: rgba(255,255,255,0.9);
    margin:auto;
    padding:2em 1em 5em 1em;
}
.hiddenContentPerso{
    display:none;
}
.row{
    max-width: 100%;
}

q{
    color:white;
    font-size: 1.8em;
    line-height: 1.3em;
    font-weight: 400;
}
h2{
    font-size: 4em;
    line-height: 1.2em;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 900;
    color:$main;
    /* @include single-text-shadow(black,1px,1px,0px); */
}
a{
    color:$main;
}
h3{
    font-size: 2em;
    line-height: 120%;
    border:0;
    font-weight: 700;
    text-align: left;
    padding:0;
    margin:auto;
    margin-bottom: 1em;
    &:hover{
        border:0;
    }
}
nav.top-bar.expanded{
    background-color: #FFF;
}
nav.top-bar{
    padding:0 2%;
    position: fixed;
    height:70px;
    background:none repeat scroll 0 0 white;
    @include single-box-shadow(#000000,0,0px,10px,0);
    border-bottom:1px solid $lightGray;
    .right{
        background-color: 0;
        margin-top:10px;
    }
    .title-area{
        margin-top: 10px;
    }
    li{

        &:hover{
            background-color: 0;
        }
        a{

            font-weight: 300;
            font-size: 1.1em;
            opacity: 0.6;
            overflow: visible;
            text-decoration: none;
            color:black;
            background-color: 0;
            &:hover{
                text-decoration:none;
                @include transition(all,0.3s,ease);
                opacity:1;
            }
        }
    }
}

.button{
    margin-top: 0.5em;
    background-color:$main;
    border-color: darken($main,30%);
    &:hover,&:focus{
        background-color:darken($main,10%);
    }
}
#blog article img{
    max-width: 200px;
    max-height: 250px;
}

#accueil .main>.row,#blog .main>.row,#projets .main > .row{
    margin-bottom: 1em;
    border-bottom: 1px solid $ultraLightGray;
    padding:2em 0;
}
#single article img{
    margin-bottom: 1em;
    width:100%;
}
#accueil .row.projets{
    margin-bottom: 3em;
}
#accueil .main>.row:last-child,#blog .main>.row:last-child{
    border:0;
}
.row.article{
    border-bottom: 1px solid $ultraLightGray;
    margin-bottom: 3em;
    padding-bottom: 2em;
}
.row.title{
    padding: 2em 0;
    margin-bottom: 3em;
    border-bottom: 1px solid  $ultraLightGray;
}
.row.doc{
    margin-top: 4em;
    text-align: center;
}
.cv{
    background-color: $main;
    @include border-radius(50%);
    width:80px;
    height: 80px;
    padding:10px;
    border:10px solid lighten($main,20%);
    display:inline-block;
    &:hover,&:focus{
        background-color: darken($main,10%);
    }
    a{
        color:white;
        font-weight: 700;
        font-size: 1.2em;
        text-decoration: none;
        display:block;
        width:100%;
        height: 100%;
        padding-top: 8px;
        &:hover{
         color:white;
         font-weight: 700;
         font-size: 1.2em;
         text-decoration: none;
     }
     &:hover{
        padding-bottom: 50px;
    }

}
}
ul#imgTracker{
    padding:1% 0;
    text-align: center;
    width:100%;

    text-align: center;
    li
    { 
        margin-bottom: 10px;
        margin-left: 1%;
        height: 145px;
        width:22%;
        overflow: hidden;
        position: relative;
        z-index: 1;
        display:inline-block;
        img{
            display: inline;
            margin:auto;
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            margin:auto;
            max-width: 100%;
            max-height:100%;
        }

    }

    li:first-child,li.focus{

     min-width: 100px;
     height: 300px;
     width: 50%;
     margin-right:1%;
     float:left;
     margin-bottom: 5em;
     margin-left: 1px;

     img{
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        max-width: 100%;
        max-height: 100%;
        display: inline;
        margin:auto;
    }
}
li.alternate{

 float:right;


}

}
.lastProjet{
    @include horizontal-list();
    text-align: center;
    a{
        z-index: 10;
        display:block;
        position:relative;
    }
    .overImg{
       position:absolute;
       display:block;
       height:100%;
       width:100%;
       top:0;
       left:0;
       color:white;
       padding:10% 2%;
       font-size:110%;
       line-height: 1.2em;
       text-align: center;
       overflow: hidden;
       opacity:0;
       @include transition(all 0.3s linear);


       h4{
        font-size: 2em;
        font-weight: 700;
        line-height: 1.5em;
    }
    p{
        color:$gray;
        line-height: 1.5em;
        font-weight: 400;
        text-align: center;
    }
    
}
a:hover .overImg{
   opacity:1;
   z-index: 20;
   background-color: rgba(255,255,255,0.8);
   @include transition(all,0.2s,ease);



}

h4{
    font-size: 1.5em;
    font-weight: 500;
}
}
#imgTracker .overImg {

   position:absolute;
   display:block;
   height:100%;
   width:100%;
   top:0;
   left:0;
   color:white;
   padding:10% 2%;
   font-size:110%;
   line-height: 1.2em;
   text-align: center;
   overflow: hidden;
   opacity:0;
   @include transition(all 0.3s linear);

   a{
    display:block;
    height:100%;
    width:100%;
    text-decoration: none;
}
h4{
    font-size: 150%;
    font-weight: 700;
    line-height: 1.5em;
}
p{
    color:$gray;
    line-height: 1.5em;
    font-weight: 400;

}
}
#imgTracker li.th:hover .overImg{
    opacity: 1;
    @include transition(all,0.8s,ease);
}
#imgTracker li.th:hover img{
    @include scale3d(1.2,1.2,0);
    @include transition(transform 5000ms cubic-bezier(0, 0, .80, .90));

}
#imgTracker li.th:hover {

 @include transition(transform 10000ms cubic-bezier(0, 0, .80, .90));

}
input:hover,textarea:hover,input:focus,textarea:focus,input:active,textarea:active,input:active,textarea:active{
    border:1px solid $main;
    @include single-box-shadow(lighten($main,40%),0,0,5px);
}
input{
    background-color: white;
}
/*input:valid,textarea:valid{
    background-color: lighten($main,45%);
}
input:invalid,textarea:invalid{
    background-color: lighten($false,45%);
    }*/
    input[type="text"]{
        padding:0 0.5em;
    }
    input[type="checkbox"]{
        float:left;
        margin:0;
        margin-top: 5px;
        margin-right: 1em;
    }
    #pagination{
        @include horizontal-list();
        text-align: center;
        li{
            display:inline-block;
            float:none;
        }
    }
    #contactForm .row{
        margin:1em 0;
    }

    input[type="submit"]
    {
        background-color: $main;
        border:1px solid darken($main,15%);
        &:hover{
            background-color:darken($main,10%);
        }
    }
    #gmap{
        display:block;
        height: 100%;
        width:100%;
        min-width: 100px;
        min-height: 300px;
    }
    .top-bar ul .name{
        margin-right:1em;
    }
    .section{
        text-indent: -9999px;
        border:0;
        margin:0;
        padding:0;
        height:0;
        width:0;
        position: absolute;
    }
/*#imgTracker li:hover{
    @include rotateY(180deg,400px);
    @include transition(all,2s,linear);
    }*/
    #imgTracker li.th:hover img{
        opacity:0.2;

    }
    .main p.lien{
        text-align: center;
        a{
            font-weight: bold;  
        }
    }
    .presentation p{
        font-size: 3em;
        font-weight: bold;
        color:white;
        text-align: center;
        padding-top: 2%;
        @include single-text-shadow(black,2px,2px,2px);
        margin-bottom: 0.2em;
    }
    .presentation .portfolio{
        font-size: 1.2em;
        padding:0;
    }
    ul.mainMenu{
        display:inline-block;
        text-align: center;
        width:100%;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        li{
          background-image: image-url('b1.png');
          background-size: 100% 100% ;
          background-repeat: no-repeat;
          max-width:20%;
          min-width: 15%;
          @include border-radius(40px);
          padding:5px 0;
          &:hover{
            @include scale(1.2,1.2);
            @include single-box-shadow(black,2px,2px,30px,0px);
            @include transition(all,0.5s,ease-in);
        }
        a{
            display:block;
            width:100%;
            height: 100%;
            color:rgba(0,0,0,0.9);
            font-size: 7em;
            text-decoration: none;
            &:hover,focus {
                text-decoration:none;
            }
            p{
                font-size: 24px;
            }
        }


    }
}
a{
    color:$main;
    text-decoration: underline;
    &:hover{
        color:darken($main,20%);
        text-decoration:underline;

    }
    i{
        &:hover{
            @include single-text-shadow(0,0,20px);
        }
    }

}
header{
    margin-top: 70px;
}
.contact:first-child{
    margin-top: 20px;

}
.row form{
    margin:20px 0;

}
fieldset{
    border:1px solid $main;
    padding:1em;
}
i{

}
.contact{
    line-height: 2em;
    display:block;
    padding:0 0.5em;

}
article>p{
    line-height: 1.5em;
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
    margin: auto;
}
.row.article article>p{
    margin: 0;
}
.article a>i{
    color:$gray;
}
.row.head {
    margin-bottom: 2em;
    h2{
        border:0;
        margin-bottom: 0;
    }
}
.row.comments{
    .large-8.columns{
        margin: auto;

        float:none;
        h3{
           text-align: center;
       }
   }
}
textarea{
    min-height: 60px;
    margin:0;
}
ol.comments{
    border:1px solid $ultraLightGray;
    padding:1em 0.5em;
    margin:1em auto;
    p{
        text-align: justify;
    }
    li{
        display:block;
        width:80%;
        margin: auto;
        padding:1em 0.5em 1.2em 0.5em;
        border-bottom: 1px solid $ultraLightGray;

        .comment-header{
            padding:1em;
            margin-bottom: 0.5em;
            img{
                float:left;
            }
            .vcard{
                padding:0.5em;
                margin-bottom: 0;
                a.comment-name,.comment-date{
                    display:inline-block;
                    width:100%;

                }
                .comment-name{
                    font-weight: bold;
                    text-decoration: none;
                    margin:0;
                    a{
                        text-decoration: none;
                    }
                }
                .comment-date{
                    text-decoration: none;
                    font-size: 0.8em;
                    color:$gray;
                }
            }
        }
    }
    li:last-child{
        border:0;
    }
}

article{
    width:80%;
    margin: auto;
}
article .fullArticle{
    width:80%;
    margin: auto;
    text-align: justify;
}
article {
    img{
        float:left;
        margin-right:0.5em;
    }
    .button{
    }
    span{
        display:block;
        height: auto;
        margin:0 1em 1em 0;
    }
}
.infosDate{
    font-size: 0.9em;
    line-height: 1.5em;

    p{
     text-align: center; 
     color:$gray;
 }

}
.article{
    display:block;
    width:80%;
    text-decoration: none;
}
.icon-calendar.article{
    font-size: 2em;
    color:$lightGray;
}
.imageArticle{
    display:block;
    float:left;
    margin:0 1em 1em 0;
}
.date{
    color:$gray;
    &:hover{
        color:rgba(0,0,0,1);
    }
}
.moreArticle{
  text-align: center;
}

/**IE TU PUES*/

.no-rgba {

.title-area{
    float:left;
}
.top-bar-section{
    float:right;
}
    .top-bar{
        border-bottom: 1px solid black;
        .menu-icon.toggle-topbar{
            color:black;
        }
        li{
            a{
                color:black;
            }
        }
        
    }
    .mainMenu 
    {
        li{
            

           &:hover{
               background-color: black; 
           }
       }

       a{
        color:black;

        &:hover{
            color:$main;


        }

    }
}
#container{
    background-color: $grayIE;
}
.main{
    background-color: $whiteIE;
}
}
.no-csscolumns{
    .large-4{
        width:33.3333%;   
    }
    .large-7{
        width:58.3333%;
    }
}
.no-backgroundsize{
    .image{
        min-width: 100%;
        min-height: 100%;
        background-image: image-url('logoIE.jpg');
    }
}
@import "responsive";
